In [10]:
import numpy as np
import pandas as pd


df = pd.DataFrame({
    'key1': ['a','a','b','b','a','a'],
    'key2': ['one','two','one','two','three','one'],
    'd1': np.random.randn(6),
    'd2': np.random.randn(6)
})
df

  key1   key2        d1        d2
0    a    one  1.369609  0.459411
1    a    two  0.057663  0.901100
2    b    one -0.444548  1.425797
3    b    two -0.094670  1.904309
4    a  three -0.496204 -0.747866
5    a    one -1.708720  1.407743

In [21]:
shuffled_indices = np.random.permutation(len(df))
len(df)

6

In [12]:
shuffled_indices

array([['a', 'one', -1.7087200550285286, 1.407743428623888],
       ['a', 'three', -0.4962039617118756, -0.7478664403189011],
       ['b', 'two', -0.09467011335069096, 1.904308553046096],
       ['a', 'two', 0.057662588322755, 0.901099663233317],
       ['b', 'one', -0.4445479875361293, 1.4257971558044726],
       ['a', 'one', 1.3696094462492665, 0.4594113778337374]], dtype=object)

In [15]:
shuffled_indices

array([['a', 'one', -1.7087200550285286, 1.407743428623888],
       ['b', 'one', -0.4445479875361293, 1.4257971558044726],
       ['a', 'three', -0.4962039617118756, -0.7478664403189011],
       ['a', 'two', 0.057662588322755, 0.901099663233317],
       ['a', 'one', 1.3696094462492665, 0.4594113778337374],
       ['b', 'two', -0.09467011335069096, 1.904308553046096]], dtype=object)

In [17]:
# with len
shuffled_indices

array([2, 5, 3, 0, 1, 4])

In [22]:
test_size = int(len(df) * 0.3)

In [23]:
test_size

1

In [38]:
test_indices = shuffled_indices[:test_size]
test_indices

[2, 5]

In [28]:
train_indices = shuffled_indices[test_size:]
train_indices

array([4, 3, 1, 5, 2])

In [32]:
df.iloc[train_indices]

  key1   key2        d1        d2
4    a  three -0.496204 -0.747866
3    b    two -0.094670  1.904309
1    a    two  0.057663  0.901100
5    a    one -1.708720  1.407743
2    b    one -0.444548  1.425797

In [33]:
df.iloc[test_indices]

  key1 key2        d1        d2
0    a  one  1.369609  0.459411