In [24]:
from sklearn.model_selection import StratifiedShuffleSplit
import numpy as np
X = np.array([[1,2],[3,4],[1,2],[3,4]])
y = np.array([0,0,1,1])
import pandas as pd

In [15]:
sss =StratifiedShuffleSplit(n_splits=3, test_size=0.5, random_state=0)

In [16]:
sss.get_n_splits(X, y)

3

In [17]:
for train_index, test_index in sss.split(X, y):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

TRAIN: [1 2] TEST: [3 0]
TRAIN: [0 2] TEST: [1 3]
TRAIN: [0 2] TEST: [3 1]

In [18]:
np.ceil(5.568)

6.0

In [19]:
asr = np.array([4,5,5,6,9,8,7])

In [31]:
df = pd.DataFrame({
    'key1': [8.6,8.3,7.9,6.4,5.1,0.2],
    'key2': ['one','two','one','two','three','one'],
    'd1': np.random.randn(6),
    'd2': np.random.randn(6)
})
df

   key1   key2        d1        d2
0   8.6    one -1.202429  0.137453
1   8.3    two -0.391964 -0.044637
2   7.9    one  0.505445 -0.752896
3   6.4    two  0.026459  0.918298
4   5.1  three -1.256085  1.859268
5   0.2    one -0.480618 -0.174622

In [32]:
df['prices'] = np.ceil(df['key1']/1.5)
df

   key1   key2        d1        d2  prices
0   8.6    one -1.202429  0.137453     6.0
1   8.3    two -0.391964 -0.044637     6.0
2   7.9    one  0.505445 -0.752896     6.0
3   6.4    two  0.026459  0.918298     5.0
4   5.1  three -1.256085  1.859268     4.0
5   0.2    one -0.480618 -0.174622     1.0

In [33]:
df['prices'].where(df['prices']<5,5.0, inplace=True)

In [34]:
df

   key1   key2        d1        d2  prices
0   8.6    one -1.202429  0.137453     5.0
1   8.3    two -0.391964 -0.044637     5.0
2   7.9    one  0.505445 -0.752896     5.0
3   6.4    two  0.026459  0.918298     5.0
4   5.1  three -1.256085  1.859268     4.0
5   0.2    one -0.480618 -0.174622     1.0